.popup_type_calendar-registration {
  box-sizing: border-box;
  padding: 50px 100px;
  max-width: 770px;
  width: calc(100vw - 30px);
  align-items: stretch;
  justify-content: start;
}

@media screen and (max-width: 600px) {
  .popup_type_calendar-registration {
    padding: 60px 15px 30px;   
  }
}