.calendar__button-box {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .calendar__button-box {
    gap: 10px;
  }
}