.story {
  box-sizing: border-box;
  height: 520px;
  max-width: 870px;
  background-image: url(../../images/story-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}


.story::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #464646;
  opacity: 0.8;
  mix-blend-mode: multiply;
  z-index: -1;
  border-radius: 30px;
}

@media screen and (max-width: 1500px) {
  .story {
    height: 414px;
  }
  .story::after {
    display: none;
  }
  
}

@media screen and (max-width: 1400px) {
  .story {
    height: 382px;
  }
}

@media screen and (max-width: 720px) {
  .story {
    height: 290px;
  }
}