.story {
  box-sizing: border-box;
  height: 520px;
  max-width: 870px;
  background-image: url(../../images/story-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1500px) {
  .story {
    height: 414px;
  }
}

@media screen and (max-width: 1400px) {
  .story {
    height: 382px;
  }
}

@media screen and (max-width: 720px) {
  .story {
    height: 290px;
  }
}