.content {
  color: black;
  background-color: #F3F2F2;
  padding: 0 75px;
  max-width: 1920px;
  min-width: 290px;
}

@media screen and (max-width: 1500px) {
  .content {
    padding: 0 135px;
  }
}



@media screen and (max-width: 1024px) {
  .content {
    padding: 0 calc(50vw - 385px);
  }
}

@media screen and (max-width: 800px) {
  .content {
    padding: 0 15px;
  }
}

