.content {
  color: black;
  background-color: #F3F2F2;
  padding: 80px 75px 120px;
  max-width: 1920px;
  min-width: 290px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media screen and (max-width: 1500px) {
  .content {
    padding: 85px 135px 120px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 50px calc(50vw - 385px) 100px;
  }
}

@media screen and (max-width: 800px) {
  .content {
    padding: 30px 15px 50px;
  }
}