.frame-card__name{
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-bottom: 5px;
}
@media (max-width:1024px) {
    .frame-card__name{
        font-weight: 300;
        font-size: 19px;
        line-height: 23px;
    }
}