.frame-card__item{
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  text-align: center;
  background: #FFFFFF;
  margin: 0;
  max-width: 420px;
  
}
@media (max-width:1440px) {
  .frame-card__item{
    max-width: 370px;
  }
}

@media (max-width: 520px) {
  .frame-card__item{
    min-width: 290px;
    min-height: 313px;
  }
}