.category__img{
    max-width: 420px;
    margin-right: 30px;
    object-fit: cover;
    border-radius:30px
}
@media (max-width: 1260px) {

    .category__img {
        max-width: 370px;
    }
}

@media (max-width: 651px) {

    .category__img {
        width: 100%;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}