.tag-bottom {
  font-family: "Proto Grotesk Web Light", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.26;
  letter-spacing: 0.2px;
  color: #000;
}