.text-number {
  font-family: "Proto Grotesk Web Light", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 1;
  letter-spacing: -2px;
  margin: 0;
}

@media screen and (max-width: 1400px) {
  .text-number {
    font-size: 60px;
  }
}