@import url(../vendor/normalize.css);
@import url("../vendor/fonts/fonts.css");
/*  */

@import url(../blocks/scroll/scroll.css);
/*  */

@import url(../blocks/text/text-podpis.css);
@import url(../blocks/text/text-h2.css);
@import url(../blocks/text/text-number.css);
@import url(../blocks/text/text-tag.css);
@import url(../blocks/text/text-body.css);
/*  */

@import url(../blocks/content/content.css);
@import url(../blocks/content/content__calendar.css);
/*  */

@import url(../blocks/calendar/calendar.css);
@import url(../blocks/calendar/calendar__contain.css);
@import url(../blocks//calendar/calendar__title.css);
@import url(../blocks/calendar/calendar__underline.css);
@import url(../blocks/calendar/calendar__button-box.css);
@import url(../blocks/calendar/calendar_signed.css);
@import url(../blocks/calendar/calendar__small-oval.css);
@import url(../blocks/calendar/calendar__link.css);
@import url(../blocks/calendar/calendar__oval.css);
@import url(../blocks/calendar/calendar__description.css);
/*  */

@import url(../blocks/story/story.css);
@import url(../blocks/story/story__title.css);
/*  */

@import url(../blocks/button/button.css);
@import url(../blocks/button/button_place_calendar.css);
@import url(../blocks/button/button_place_calendar-points.css);
@import url(../blocks/button/button_place_calendar-choosen.css);
/*  */

@import url(../blocks/logo/logo.css);
/*  */

@import url(../blocks/where-go/where-go.css);
@import url(../blocks/where-go/where-go__illustration.css);
@import url(../blocks/where-go/where-go__tag.css);
@import url(../blocks/where-go/where-go__title.css);
@import url(../blocks/where-go/where-go__subtitle.css);
@import url(../blocks/where-go/where-go__link.css);
@import url(../blocks/where-go/where-go__image-box.css);
@import url(../blocks/where-go/where-go__image.css);
@import url(../blocks/where-go/where-go__article.css);
@import url(../blocks/where-go/where-go__text.css);
@import url(../blocks/where-go/where-go__paragraph.css);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
/*  */

@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
@import url(../blocks);
/*quote*/

@import url("../blocks/quote/quote.css");
@import url("../blocks/quote/quote__description.css");
@import url("../blocks/quote/quote__link.css");
/* frame-card */

@import url("../blocks/frame-card/frame-card.css");
@import url("../blocks/frame-card/frame-card__item.css");
@import url("../blocks/frame-card/frame-card__image.css");
@import url("../blocks/frame-card/frame-card__description.css");
@import url("../blocks/frame-card/frame-card__name.css");
@import url("../blocks/frame-card/frame-card__autor.css");
@import url("../blocks/frame-card/frame-card__link.css");
/* delet */

@import url("../blocks/frame-card/delet/delet_four.css");
@import url("../blocks/frame-card/delet/delet_free.css");
@import url("../blocks/frame-card/delet/delet_two.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/page/page__container.css");
/*  */

@import url("../blocks/navigation/navigation.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/footer__button.css");
@import url("../blocks/footer/footer__container.css");
@import url("../blocks/footer/footer__copyright.css");
@import url("../blocks/footer/footer__development.css");
@import url("../blocks/footer/footer__info-link.css");
@import url("../blocks/footer/footer__info.css");
@import url("../blocks/footer/footer__line.css");
@import url("../blocks/footer/footer__link.css");
@import url("../blocks/footer/footer__logo.css");
@import url("../blocks/footer/footer__navigation.css");
@import url("../blocks/footer/footer__social.css");
/* Убрать скролл на на время адаптивки*/

html::-webkit-scrollbar {
  width: 0;
  /* ширина для вертикального скролла */
  /* height: 8px; высота для горизонтального скролла */
  background-color: #143861;
}

html {
  scrollbar-width: none;
}