.videos__link {
  font-family: "Proto Grotesk Web Light", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.2px;
  color: #224CFF;
  text-decoration: none;
  margin-top: auto;
}

.where-go__link:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .videos__link {
    font-size: 12px;
    line-height: 1.42;
    margin-top: 55px;
  }
}

@media screen and (max-width: 600px) {
  .videos__link {
    
    margin-top: 32px;
  }
}