.button {    
  min-width: fit-content;
  height: 48px;
  border-radius: 50px;
  border: 1px solid #000000;
  padding: 0 20px;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "PT Root UI", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
}

.button:hover {
  background-color: #E0E0E0;
}

@media screen and (max-width: 1400px) {
  .button {
    padding: 0 15px;
    height: 40px;
    font-size: 12px;
    line-height: 17px;
  }
}